.wrapper {
  display: flex;

  main {
    flex: 1;
  }

  section.main {
    height: calc(100vh - 6.5rem);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
